# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Entornos
.env
.env.local
.env.*.local

# Sistema operativo
.DS_Store
Thumbs.db

# Compilados de producción
dist/
build/
.out/

# Cache
.cache/
.next/
.nuxt/
vite-cache/
